.wrapper {
  height: 100vh;
  justify-content: center;
  padding-bottom: 400px;
  align-items: center;
  display: flex;
  background-image: url(../../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

